@keyframes spin-y {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Vote Average slider settings */
#slider-simple {
  height: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid oklch(85.751% 0.00732 268.581);
  background: oklch(100% 0.00011 271.152);
}

#slider-simple .range-slider__range {
  border-radius: 0.75rem;
  background: oklch(21.6% 0.006 56.043);
}
#slider-simple .range-slider__thumb {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid oklch(85.751% 0.00732 268.581);

  background: rgb(255, 255, 255);
  filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0.3));
  /* box-sizing: border-box;
  border: 1px solid red; */
}
#slider-simple .range-slider__thumb[data-lower] {
  width: 0;
  border: none;
}
