@keyframes spin-y {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Vote Average slider settings */
#slider-simple {
  height: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid oklch(85.751% 0.00732 268.581);
  background: oklch(100% 0.00011 271.152);
}

#slider-simple .range-slider__range {
  border-radius: 0.75rem;
  background: oklch(21.6% 0.006 56.043);
}
#slider-simple .range-slider__thumb {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid oklch(85.751% 0.00732 268.581);

  background: rgb(255, 255, 255);
  filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0.3));
  /* box-sizing: border-box;
  border: 1px solid red; */
}
#slider-simple .range-slider__thumb[data-lower] {
  width: 0;
  border: none;
}

.swal2-popup {
  border-radius: 0px;
  font-family: "Outfit", "Optima", "Helvetica", sans-serif;
}

.swal2-html-container {
  color: black;
  font-size: clamp(0.8rem, calc(1.5vw + 0.4rem), 1rem);
  text-align: left;
}

.swal2-title {
  color: black;
  /* font-style: italic; */
  font-size: clamp(1.3rem, calc(1.5vw + 0.4rem), 1.4rem);
  text-align: left;
}

.swal2-actions {
  /* display: flex !important;
  justify-content: end !important;
  align-items: end !important; */
  margin-right: 2rem;
}
.swal2-actions button {
  font-size: clamp(0.8rem, calc(1.5vw + 0.4rem), 1rem);
}

.swal2-actions:hover .swal2-actions button {
  scale: 1.03;
}

.swal2-confirm {
  transition: 200ms ease-in-out;
  border: 1px solid black !important;
  border-radius: 0px;
  /* border-width: ; */
  background-color: white;
  padding: 0.4rem;
  width: 5rem;
  color: black;
  font-size: clamp(0.8rem, calc(1.5vw + 0.4rem), 1rem);
}

.swal2-confirm:hover {
  background-color: black;
  color: white;
}
