@import "tailwindcss";

/* Customize the popup close button */
.maplibregl-popup-close-button {
  /* background-color: rgba(0, 0, 0, 0.7) !important; */
  /* color: white !important; */
  /* border-radius: 50% !important; */
  width: 1.5rem !important;
  height: 1.5rem !important;
  /* font-size: 1rem !important; */
  /* line-height: 1 !important; */
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.2s ease !important;
  /* border-width: 2px !important;
  border-color: black !important; */
}

/* .maplibregl-popup-close-button:hover {
  background-color: rgba(0, 0, 0, 0.9) !important;
  transform: scale(1.1) !important;
} */

/* Optional: Customize the popup container */
/* .maplibregl-popup-content {
  border-radius: 12px !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15) !important;
  padding: 0 !important;
} */

/* Key colors throughout map: 
#b8d5e5 blue
#d5e5b8 green
#e5b8d5 pink
stone-900: almost-dark text color
stone-200: almost-white text color
stone-100: off-white background color
*/

/* Google Fonts candidates for "THE FILM ATLAS" page title:
Red Rose, Cal Sans, Paytone One, Bungee Shade, Russo One, Black Ops One */

/* :root {
  background-color:;
} */

.font-logo {
  /* font-family: "Black Ops One", sans-serif; */
  font-family: "Red Rose", "Optima", "Helvetica", sans-serif;
  /* font-family: "Russo One", sans-serif; */
}

/* .font-heading {
  font-family: "Sen", "Optima", "Helvetica", sans-serif;
} */

.font-primary,
.font-heading {
  /* font-family: "Josefin Sans", "Optima", "Helvetica", sans-serif; */
  /* font-family: "Inconsolata", "Optima", "Helvetica", sans-serif; */
  font-family: "Outfit", "Optima", "Helvetica", sans-serif;
  /* font-family: "League Spartan", "Optima", "Helvetica", sans-serif; */
}

@layer components {
  .page-title {
    @apply uppercase font-bold text-xl md:text-3xl flex items-center justify-center w-full md:mt-10 mt-5;
  }

  .page-subtitle {
    @apply font-bold text-base md:text-2xl w-auto;
  }

  .yourListConsole {
    @apply flex flex-col items-start justify-center mt-10 md:mt-20 md:mr-5 lg:mr-8;
  }

  .toggleButton-whole {
    @apply flex flex-col items-center p-2 w-full gap-2 md:flex-row md:justify-center md:gap-5 md:mr-20;
  }

  .toggleButton-label {
    @apply w-[7rem] flex self-center mr-45 md:mr-0 md:ml-0 md:justify-end uppercase text-[11px] md:text-[13px];
  }

  .toggleButton-buttonsContainer {
    @apply relative bg-gray-200 rounded-full md:w-[20rem] w-[18rem] h-[2.5rem] text-[13px] md:text-[16px];
  }

  .toggleButton-bg {
    @apply absolute h-full bg-white rounded-full shadow-md transition-all duration-400 ease-in-out;
  }

  .toggleButton-button {
    @apply flex-1 text-center py-2 rounded-full transition-colors duration-300 z-10 flex items-center justify-center text-gray-600;
  }

  .toggleButton-buttonActive {
    @apply text-gray-950 font-semibold;
  }

  .auth-whole {
    @apply fixed flex flex-col items-center w-screen h-screen overflow-hidden;
  }

  .auth-svgContainer {
    @apply fixed top-0 h-screen bg-black overflow-visible flex flex-row gap-0 scale-200 overflow-hidden;
  }

  .auth-svg {
    @apply scale-100 z-0 border-blue-500 animate-[moveHorizontal_30s_linear_infinite];
  }

  .auth-formContainer {
    @apply mt-35 z-100 bg-white text-gray-900 border-[#b8d5e5] rounded-lg border-5 w-[18rem] relative;
  }

  .auth-form {
    @apply flex flex-col gap-2 w-full items-center text-[12px];
  }

  .auth-formField {
    @apply border-1 p-[10px] w-[15rem] rounded-lg border-gray-300;
  }

  .auth-formSubmitButton {
    @apply border-0 rounded-lg w-[15rem] md:w-[7rem] p-[10px] bg-[#d5e5b8] text-stone-900 font-light;
  }

  .auth-formErrorMessage {
    @apply text-red-500 self-start ml-2;
  }

  .console-button {
    @apply flex items-center gap-1 border-1 rounded-full max-h-[2.5rem];
  }

  .landing-page-title {
    @apply font-black text-[20px]/6 md:text-[25px]/7;
  }

  .landing-main-img-container {
    @apply overflow-hidden relative text-stone-200;
  }

  .landing-main-img {
    @apply w-screen max-h-[30rem] aspect-2/3 object-cover scale-[1];
  }

  .landing-transparent-layer {
    @apply border-0 border-red-500 absolute top-0 left-0 h-[15rem] md:h-[15rem] w-full bg-linear-to-b from-black to-transparent;
  }

  .landing-img-text-container {
    @apply absolute top-0 left-0 h-[25rem] p-5 w-full border-0;
  }

  .landing-img-text-right {
    @apply text-xs/5 font-extralight mb-2 text-right;
  }

  .landing-img-text-right-title {
    @apply font-thin text-[10px] mr-0;
  }

  .landing-img-text-right-content {
    @apply border-b-2 border-r-4 p-[4px] pt-0 inline-block decoration-3 underline-offset-2 drop-shadow-md;
  }

  .landing-transparent-layer-bottom {
    @apply border-0 border-red-500 absolute bottom-0 left-0 h-[5rem] md:h-[15rem] w-full bg-gradient-to-t from-black/100 to-transparent;
  }

  .landing-img-text-belowTitle {
    @apply w-full flex mb-5 mt-1 text-xs font-extralight;
  }

  .landing-sectionTitle {
    @apply uppercase font-extralight text-[9px] text-stone-900;
  }
}
